.menu {
    border: #dcdcdc 1px solid;
    color: rgba(0,0,0,.6);
    height: 463px;
}

.menu .row {
    border-bottom: solid 1px #dcdcdc;
}

.menu .row h3 {
    font-size: 25px;
}

.menu .row:hover {
    background-color: #f8f9fa;
    color: #000;
}